:root {
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Lato', sans-serif;
    --elegant-font: 'Cormorant Garamond', serif;
    --primary-color: #ffc107;  /* Yellow */
    --secondary-color: #000;  /* Black */
    --text-color: #fff;      /* White */
    --nav-border-color: #ffdb58; /* Lighter Yellow */
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--body-font);
    line-height: 1.6;
    padding-top: 70px; 
}

.navbar {
    background-color: black !important;
}

.nav-link {
    color: var(--primary-color) !important; /* Yellow */
    font-weight: bold;
}

.nav-link:hover {
    color: #ffdb58 !important; /* Lighter Yellow on Hover */
}

.hero-section {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
}

.hero-section h1, .hero-section p, .hero-section a {
    color: white !important;
}

#about h2, #about p, #about blockquote {
    color: white !important;
}

#team h2, #team .team-member h4, #team .team-member p {
    color: white !important;
}

#best-sellers {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#best-sellers h2 {
    color: var(--primary-color);
}

.best-seller-item {
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: var(--text-color);
}

.best-seller-item h4 {
    color: var(--primary-color);
}

.best-seller-item .description {
    color: #ccc;
}

.best-seller-item .price {
    color: var(--primary-color);
}

#contact h2, #contact-us h2 {
    color: var(--primary-color);
}

.fade-in-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
}

.fade-in-on-scroll.active {
    opacity: 1;
    transform: translateY(0);
}

.team-member {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
}

.team-member.active {
    opacity: 1;
    transform: translateY(0);
}
